
<!-- CSS Dependancoes & Styling -->
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<link rel="stylesheet" href="/styles/Custom/main.css">
<link rel="stylesheet" href="/styles/importer.css">
<!------------------------------------------------------------------------>

<div class="homepage-container">
    <h1 class="welcome-title">Welcome To ArticleBase</h1>
    <div class="homepage-links">
        <a href="/articles/list" class="list-page-link">View Articles</a>
        <a href="/articles/add" class="add-page-link">Add Article</a>
        <a href="/articles/logina" class="login-page-link">Login</a>
    </div>
    <p>
        This is a Sails JS application using the following technologies:
        <div class="row left-xs">
            <p class="homepage-main-content col-xs-12"> <!-- There is a positioning issue here -->
                <b>SailsJS</b> - An MVC framework
                <b>Node</b> - A networking + desktop environment for Javascript
                <b>Flexboxgrid</b> - A CSS grid system
                <b>SASS</b> - A CSS preprocessor
                <b>MongoDB</b> - A NoSQL database
            </p>
        </div>
    </p>
</div>
